.blue{
    background-color: rgb(46, 46, 255);
    padding: 100px;


}

body{
    display: flex;
    align-items: flex-start;
}

.yo{
    background-color: rgb(255, 251, 28);
    padding: 50px;
    margin: 10px;
}

.flex{
    display: flex;
}

.red{
    padding-right: 180px;
    background-color: rgb(255, 0, 0);
}

.green{
    background-color: rgb(0, 255, 0);
    padding-bottom: 150px;
    
}

.pink{
    background-color: rgb(255, 0, 255);
    padding-bottom: 150px;
}